<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class='form addTweetForm'>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Reply : </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                    {% csrf_token %}
                    <!-- <textarea style="width: 100%;"></textarea> -->

                    <textarea name="content" cols="20" rows="4" placeholder="What's Happening"
                        class="form-control textarea form-control" required="" id="id_content2"></textarea>
                    <div class="row">
                        <div class="col-md-4" id='emojis'></div>
                        <div class="col-md-4" id='image-uploader'></div>
                        <div class="col-md-4 text-right" id='tweet-counter'>
                            <span id='reply-chars-counter' class='charsLeft2' data-info='true'>

                            </span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-success" value="Reply">
                </div>
            </form>
        </div>
    </div>
</div>