{% extends 'base.html' %}

{% block content %}
<div class="col-md-6">
	<div class="card add-tweet-box">
		<div class="card-title">
			<h6 class="h5"><i class="fa fa-home"></i> Home</h6>
		</div>
		<div class="card-body">
			<section class='addTweetSection'>
				{% include 'tweets/snippets/form.html' with status='success' form=create_form action_url=action mybtn='Tweet' %}
				<hr />
			</section>

			<section id='tweets' data-url='/api/tweets/'>

			</section>
			{% if tweets %}
			<section>
				<div class="row">
					<div class="col-md-12 text-center">
						<button id='load-more-btn' class="btn btn-link">
							Load more
						</button>
					</div>
				</div>
			</section>
			{% endif %}
		</div>
	</div>

</div>

{% endblock %}
{% block script %}
<script>
	$(function () {
		loadTweetsContainer('tweets')
	})
</script>
{% endblock %}