{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">


<link rel="stylesheet" type="text/css"
	href="	  https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css">


<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">