{% extends 'base.html' %}

{% block content %}

<div class="col-md-6">
	<div class="card add-tweet-box">
		<div class="card-title">
			<h6 class="h5"><a style="text-decoration: none;" href="{% url 'home' %}">
					<i class="fa fa-home"></i> Go Home</h6>
			</a>
		</div>
		<div class="card-body">
			<section id='tweet'>
			</section>
			<section>
				<!-- <div class="row">
					<div class="col-md-12 text-center">
						<button id='load-more-btn' class="btn btn-link">
							Load more
						</button>
					</div>
				</div> -->
			</section>
		</div>
	</div>

</div>
{% endblock %}

{% block  script %}
<script>
	$(function () {
		loadTweetsContainer('tweet', {{ tweet.id }})
	})
</script>
{% endblock %}